body{
  font-family: Verdana;
  background-color: black;
  text-align: center;
}

h1.title{
  font-size: 50px;
  color: white;
  text-align: center;
  font-weight: normal;
}

.dl_excursion{
  color: aquamarine;
  font-size: 16px;
}

h2{
  color: white;
  font-size: 42px;
  font-weight: 300;
}

p{
  color: gray;
  font-size: 21px;
}

.tent_img{
  padding-bottom: 22px;
}

.copy{
  text-align: right;
  color: gray;
}
